
<div>
    <h1>Products</h1>
    <div class="product-card-container">
        {{#each products.docs}}
            <div class="product-card">
                <h2 class="product-title">{{this.title}}</h2>
                <p class="product-description">{{this.description}}</p>
                <p class="product-stock">Stock: {{this.stock}}</p>
                <p class="product-price">${{this.price}}</p>
                <button class="add-to-cart-button">Agregar al carrito</button>
            </div>
        {{/each}}
    </div>

    <form action="">
        {{#each category.docs}}
            <button class="category-button" data-category="{{this._id}}">
                {{this._id}} ({{this.count}})
            </button>
        {{/each}}
    </form>

    <div class="navPage">
        {{#if products.hasPrevPage}}
            <a href="/api/products?page={{products.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{products.page}} de {{products.totalPages}}</span>
        {{#if products.hasNextPage}}
            <a href="/api/products?page={{products.nextPage}}">Próxima</a>
        {{/if}}
    </div>

</div>